<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LockyWEN_LongLiveCSers/Academy</title>
    <link rel="stylesheet" href="../static/main1.css">
    <style type="text/css">
        body{
            background-image: url("../images/yns1.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body>
<div id="big_wrapper">
    <header id="top_header">
        <h1> 欢迎来到温敏聪的个人网站1.0 </h1>
        庆祝今年成功进多大CS专业<br />
        感谢所有帮助过我，鼓励过我的家人，朋友，和老师
    </header>
    <nav id="top_menu">
        <ul>
            <li><a href="index.html">主页</a> </li>
            <li><a href="academy.html">学术区</a></li>
            <li><a href="article_section.html"> 文章区</a></li>
            <li><a href="crossdress.html">日志区</a></li>
            <li><a href="contact.html">联系方式</a> </li>
        </ul>
    </nav>

</div>

</body>
</html>


