<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LockyWEN_LongLiveCSers/Contact</title>
    <link rel="stylesheet" href="../static/contract_css.css">
    <style type="text/css">
        body{
            background-image: url("../images/yns1.png");
        }
    </style>
</head>
<body>
<div id="big_wrapper">
    <header id="top_header">
        <h1> 欢迎来到温敏聪的个人网站1.0 </h1>
        庆祝今年成功进多大CS专业<br />
        感谢所有帮助过我，鼓励过我的家人，朋友，和老师
    </header>
    <nav id="top_menu">
        <ul>
            <li><a href="index.html">主页</a> </li>
            <li><a href="academy.html">学术区</a></li>
            <li><a href="article_section.html"> 文章区</a></li>
            <li><a href="crossdress.html">日志区</a></li>
            <li><a href="contact.html">联系方式</a> </li>
        </ul>
    </nav>
    <div id="comment">
        <form id="comment_written">
             <label>昵称:
                <input type="text" name="Your Nickname" size="30" maxlength="30" value="请在此处输入你的昵称" />
             </label>
            <br />
            <div id ="sex_choice">
            请在下方勾选你的性别:<br />
                <label>
                    <input type="radio" name="sex" value="male" />
                    男 <br />
                </label>
                <label>
                    <input type="radio" name="sex" value="female" />
                    女 <br />
                </label>
                <label>
                    <input type="radio" name="sex" value="other_sex" />
                    其他 <br />
                </label>
                <label>
                    <input type="radio" name="sex" value="not_show_sex">
                    我不想透露 <br />
                </label>
            </div>

            <div id="things_do_today">
                <label>
                    请选择你今天做过的事：<br />
                    <label>
                        <input type="checkbox" name="today_thing" value="game" />游戏
                        <br />
                    </label>
                    <label>
                        <input type="checkbox" name="today_thing" value="anime" />动漫
                        <br />
                    </label>
                    <label>
                        <input type="checkbox" name="today_thing" value="novel" />小说
                        <br />
                    </label>
                    <label>
                        <input type="checkbox" name="today_thing" value="study" />学术
                        <br />
                    </label>
                </label>
            </div>

            <div id="language_fav">
                <label>
                    请选择你最喜欢的一门编程语言：
                    <select name="prog_languages">
                        <option value="python"> Python</option>
                        <option value="c_lan"> C</option>
                        <option value="c_pp"> C++</option>
                        <option value="java"> JAVA</option>
                        <option value="other"> Others</option>
                        <option value="none"> N/A</option>
                    </select>
                    <br />
                </label>
            </div>

            <div id="comment_here">
                请在下面留下你对本网站改进的宝贵的意见： <br />
                <textarea name="bio" rows="20" cols="50">
                    Type something here:
                </textarea>
            </div>

            <input type="button" value="Submit!" onclick="alert('ERROR: Submission fail')">
        </form>

        <aside id="side_news">
            <h4>相关链接</h4>
            <ul>
                <li><a href="https://github.com/LockyWen"> 我的 GitHub</a> </li>
                <li></li>
                <li></li>
                <li><a href="mailto:ec.lockywen@gmail.com"> 私信我 </a> </li>
            </ul>


        </aside>
    </div>

    <section id="comment_show">
        评论区
    </section>

    <footer id="top_footer">
        COPYRIGHT LOCKYWEN 2020
    </footer>



</div>


</body>
</html>

