<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LockyWEN_LongLiveCSers</title>
    <script type="text/javascript" src="../javascript_files/rolling.js"></script>
    <link rel="stylesheet" href="../static/main1.css">
    <style type="text/css">
        body{
            background-image: url("../images/desktop_cd.jpg");
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size:cover;
            background-attachment: fixed;
        }
    </style>
</head>
<body>
    <div id="big_wrapper">
        <header id="top_header">
            <h1> 欢迎来到温敏聪的个人网站1.0 </h1>
                 庆祝今年进入多大CS专业 <br />
            感谢所有帮助过我，鼓励过我的家人，朋友，和老师
        </header>
        <nav id="top_menu">
            <ul>
                <li><a href="index.html">主页</a> </li>
                <li><a href="academy.html">学术区</a></li>
                <li><a href="article_section.html"> 文章区</a></li>
                <li><a href="crossdress.html">日志区</a></li>
                <li><a href="contact.html">联系方式</a> </li>
            </ul>

        </nav>
        <div id="new_div">
            <div id="main_section" >



           <div id="rolling">
               <h1 id="rollingheader" style="text-align: center"> 轮盘任务 </h1><br>
               <p id="rollingpara0"> 炎热暑假，你是否因为下半个小时，一个小时无事可做而感到心烦呢？ 想看书，拿起书看着字就头晕；想刷题，emmm，那就更晕了。。。那
               干什么呢？ 咕咦嘤嘤嘤~~~~~~~ 于是一个小时过去了，一上午过去了，一天过去了，一个月过去了~~~ 现在距离新冠在家，三个月过去了。聪明的你，这三个
               月你干了什么呢？</p><br>
               <p id="rollingpara1"> 芜湖，，轮盘任务来啦！ 这是受苦于懊悔学习法的孩子的福音啊！如果你不想下一个半小时继续无所事事，那就点击下方的按钮转一转吧。
               既然你安排不了自己，那就让运气来把你安排吧。转出自己未来半个小时所要做的事情，再把它当成神谕一般信仰与执行。相信我，一切都是自由意志的选择。嘿嘿，轮盘旋转~~~旋风冲锋龙卷风！！</p>

               <button id="rollingButton" style="text-align: center"> 轮盘旋转</button>
           </div>

            </div>




            <aside id="side_news">
                <h4>最近更新</h4>


            </aside>

        </div>
        <footer id="top_footer">
            Copyright LOCKYWEN 2020 <br />
            版权所有，侵权必究

        </footer>
    </div>

</body>
</html>
